[submodule "data/world.geo.json"]
	path = data/world.geo.json
	url = git@github.com:johan/world.geo.json.git
[submodule "lib/mousetrap"]
	path = lib/mousetrap
	url = git@github.com:ccampbell/mousetrap.git
